<%- include("Header") %>

<div ><%- include("Menu") %></div>
    

<div>
    <main>

        <div class="col-lg-2  Filter">
          
           <div class="GeneralTitleNav"> Category </div>
         
           <div class="navigation ui column col-lg-10">

            <div class=" row ">
                    <div class="column">
                        <a class="TitleHerf"><h4 class="row header TitleNav">Class Car </h4></a>
                        <a class ="row itemNav">mercedes</a>
                        <a class ="row itemNav">rolls-royce</a>
                        <a class ="row itemNav">Bentley</a>
                        <a class ="row itemNav">Porsche</a>
                        <a class ="row itemNav">maserati</a>
                    </div>
                 
            </div>

            <div class=" row ">
                <div class="column">
                    <a class="TitleHerf"><h4 class="row header TitleNav">Asre9ni Product </h4></a>
                    <a class ="row itemNav">T-shirt</a>
                    <a class ="row itemNav">Goodies</a>
                    <a class ="row itemNav">Asre9ni Pack’s</a>
                </div>
            </div>

            <div class=" row ">
                <div class="column">
                    <a class="TitleHerf"> <h4 class="row header TitleNav">Propriety’s</h4></a>
                    <a class ="row itemNav">House</a>
                    <a class ="row itemNav">Hotel</a>
                    <a class ="row itemNav">Lot’s</a>
                </div>
            </div>

           


        </div>
     


        </div>

        <div class=" ui col-lg-10  Article ">
            <div >
                <div>

                    <nav aria-label="...">
                        <ul class="pagination pagination-sm">
                            <% for(let i=0;i<Page;i++){ %> 

                                <% if(Des==i){ %> 
                                    <li class="page-item disabled">
                                        <a class="page-link" href="/Product/Page=<%= i %>" tabindex="-1"><%=i %> </a>
                                      </li>
                                <% }else{ %> 
                                    <li class="page-item"><a class="page-link" href="/Product/Page=<%= i %>"><%=i %> </a></li>
                          
                                    <% } %> 
                             <% } %> 
                        </ul>
                    </nav>
                </div>
                <% if(Products){ %>
                    <div class="Filter">
                    <% for(let i=0; i<Products.length; i++){ %> 
                       <div> <%- include("./Product/ProductCard",{Product:Products[i]}) %> </div> 
                      <%  if(i==Products.length -1){ %> 
                        <div>

                            <nav aria-label="...">
                                <ul class="pagination pagination-sm">
                                    <% for(let i=0;i<Page;i++){ %> 
        
                                        <% if(Des==i){ %> 
                                            <li class="page-item disabled">
                                                <a class="page-link" href="/Product/Page=<%= i %>" tabindex="-1"><%=i %> </a>
                                              </li>
                                        <% }else{ %> 
                                            <li class="page-item"><a class="page-link" href="/Product/Page=<%= i %>"><%=i %> </a></li>
                                  
                                            <% } %> 
                                     <% } %> 
                                </ul>
                            </nav>
                        </div>
                    <% } %> 
                    <% } %> 
                    
                    
                   </div>
                <% } %> 
            </div>
        </div>

        
    
    </main>

    
</div>
</body>

</html>
