 <div class="ui col-12 border-dark CardProduct " >

    <div class="col-lg-3 ">
        <div class="BackgroundImage">
        <img src="<%= Product.Image %>" class="ImageProduct">
    </div>
    </div>

    <div class="col-lg-9 ">
        <div class="center">
        <div class="row">
            <a class="column ProductTitle ">
                <%= Product.Nom_Product %> 
            </a>
            <div class="column ProductPrice">
                <%= Product.Price %>  $
            </div>
    
            <div class="column ProductDetail">
                <%= Product.Describe_Product %> 
            </div>
    
            <div class="column ProductCategory">  
                <div class="CategoryProduct">
                    <a class="ui  label">
                        <h5><%= Product.CatName %> </h5> 
                    </a>
                </div>
                <div class="">
                    <a class="ui  label">
                       <h5><%= Product.BrandName %> </h5> 
                    </a>
                </div>
            </div>
            </div>
        </div>
        
    </div>
    
<script>

var ok = document.getElementsByClassName('CardProduct');
for (var i = 0; i < CardProduct.length; i++) {
   document.getElementsByClassName("CardProduct").style.height = "max-content";
}

</script>
<div class="StoreAsre9ni">Asre9ni Store</div>
</div>
